.post-preview-main-div {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;
    align-items: center;
    width: 100%;
    height: 100%;
}

.post-preview-div {
    display: inline-flex;
    width: 70vw;
    height: 75vh;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.post-preview-img-div {
    display: inline-block;
    width: 60vw;
    height: 100%;
    box-sizing: border-box;
    padding: 1px 0px;
}

.post-preview-img {
    // object-fit: contain;
    // width: 400px;
    // height: 450px;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: whitesmoke;
    // border: solid 1px;
}

.edit-div {
    width: 30vw;
    height: 100%;
    border-left: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .main-post-caption-div {
        height: 53vh;
        border-bottom: 1px solid #efefef;
    }
}

.edit-username {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.post-preview-username-div {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;

    .option-button {
        padding-right: 3%;
    }
}

.post-preview-username-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #e6e6e6;
}

.edit-delete-button {

}

.add-comment {
    max-width: 250%;
    overflow: auto;
    resize: none;
    border: none;
}

.edit-post-list {
    display: inline-block;
    width: 100%;
    min-height: 5vh;
    max-height: 10vh;
    text-align: left;

    p {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        line-height: 25px;
        width: -webkit-fill-available;;
        min-height: 35px;
        max-height: 35px;
        align-items: center;
        flex-direction: column;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.add-comment-div {
    width: 100%;
    min-height: 13vh;
    max-height: 58vh;
    align-items: center;
    display: flex;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-around;
    align-items: center;
}

.edit-page-caption {
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    position: relative;
    padding-left: 2%;
}

.post-preview-button {
    border: none;
    padding-right: 3%;
    visibility: visible;
    background: none;
}

.post-preview-hidden {
    border: none;
    padding-right: 3%;
    visibility: hidden;
}

.post-file {
    border-radius: 4px;
    position: relative;
    width: 50%;
    height: 28px; 
    background-color: #3897f0;
    color: white;
    font-weight: bold;
    cursor: pointer;

    label {
        cursor: pointer;
    }
}

.post-file:hover {
    background-color: #3079be;
}