// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.outer-show-div {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.profile-div {
    display: flex;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
    justify-content: center;
}

.profile-post-div {
    display: flex;
}
