.searchList {
  display: flex;
  flex-direction: column;
  position: fixed;
  // width: 30%;
  width: 300px;
  max-height: 40%;
  background-color: whitesmoke;
  border: 1px solid #efefef;
  visibility: visible;
  overflow-y: scroll;
  top: 60px;

  li {
    display: inline-flex;
    position: relative;  
    height: 4em;
    width: 100%;
    overflow: auto;
    align-items: center;

    div {
      padding-left: 3%;
    }
  }
}

.no-user-list {
  position: relative;
  height: 3em;
  width: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  color: #999;
  font-family: sans-serif;
}

