// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-profile-div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 45vw;
  margin-bottom: 5rem;;
  background: whitesmoke;
  border: 1px solid black;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2); 
  z-index: 2;
  min-width: 400px;
  min-height: 250px;
  top: 25%;
  flex-direction: column;
  border-radius: 8%;
}

.edit-profile-form {
  width: 50%;
  background-color: whitesmoke;
  padding: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  border: solid 3px black;
  min-width: 350px;
}

.edit-profile-form-div1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

    label {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 4vh;
    text-align: left;
    font-size: large;

    input {
      position: absolute;
      left: 30%;
      text-align: center;
    }
  }
}

// .edit-profile-form-div2 {
//   display: flex;
//   flex-direction: column;
//   width: 60%;


// }

.edit-profile-preview {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 40%;
  height: 10vh;
  padding-bottom: 8%;
  position: relative;

  p {
    align-items: center;
    display: flex;
    font-size: larger;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  }
}

.edit-profile-pic-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-preview-img {
  width: 50%;
}

.edit-option-button {
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  padding-top: 5%;
  text-align: center;

  button {
    height: 28px;
    font-weight: bold;
    border-radius: 4px;
  }

  .submit-button {
    background-color: #3897f0;
  }
}


